body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box {
    height: 100vh;
    width: 100vw;
}

.one {
    background: linear-gradient(45deg, rgb(76, 0, 255), transparent);
}

.two {
    background: linear-gradient(45deg, rgb(76, 0, 255), transparent), repeating-linear-gradient(45deg, rgb(183, 0, 255) 0%, rgb(183, 0, 255) 5%);
}

.three {
    background: linear-gradient(45deg, rgb(76, 0, 255), transparent), repeating-linear-gradient( 45deg, rgb(183, 0, 255) 0%, rgb(183, 0, 255) 5%, transparent 5%, transparent 10%), rgb(216, 188, 255) repeating-linear-gradient( -45deg, rgba(183, 0, 255, 0.5) 0%, rgba(183, 0, 255, 0.5) 5%, transparent 5%, transparent 10%);
}

.four {
    background: linear-gradient(45deg, rgb(76, 0, 255), transparent), repeating-linear-gradient( 45deg, rgb(183, 0, 255) 0%, rgb(183, 0, 255) 5%, transparent 5%, transparent 10%), rgb(216, 188, 255) repeating-linear-gradient( -45deg, rgba(183, 0, 255, 1) 0%, rgba(183, 0, 255, 1) 5%, transparent 5%, transparent 10%);
}

.five {
    background: linear-gradient(45deg, rgb(76, 0, 255), transparent), repeating-linear-gradient( 45deg, rgb(183, 0, 255) 0%, rgb(183, 0, 255) 5%, transparent 5%, transparent 10%, rgb(183, 0, 255) 10%, rgb(183, 0, 255) 11%, transparent 11%, transparent 13%), rgb(216, 188, 255) repeating-linear-gradient( -45deg, rgba(183, 0, 255, 0.5) 0%, rgba(183, 0, 255, 0.5) 5%, transparent 5%, transparent 10%);
}

.six {
    background: linear-gradient(45deg, rgb(76, 0, 255), transparent), repeating-linear-gradient( 45deg, rgba(183, 0, 255, .5) 0%, rgba(183, 0, 255, .5) 5%, transparent 5%, transparent 10%, rgba(183, 0, 255, .5) 10%, rgba(183, 0, 255, .5) 11%, transparent 11%, transparent 13%), rgb(216, 188, 255) repeating-linear-gradient( -45deg, rgba(183, 0, 255, 0.5) 0%, rgba(183, 0, 255, 0.5) 5%, transparent 5%, transparent 10%);
}

.seven {
    background: linear-gradient(45deg, rgb(76, 0, 255), transparent), repeating-linear-gradient( 45deg, rgba(183, 0, 255, .5) 0%, rgba(183, 0, 255, .5) 5%, transparent 5%, transparent 10%, rgba(183, 0, 255, .5) 10%, rgba(183, 0, 255, .5) 11%, transparent 11%, transparent 13%), rgb(216, 188, 255) repeating-linear-gradient( -45deg, rgba(183, 0, 255, 0.5) 0px, rgba(183, 0, 255, 0.5) 30px, transparent 30px, transparent 45px);
}

.eight {
    background: linear-gradient(45deg, rgb(76, 0, 255), transparent), repeating-linear-gradient(45deg, rgb(183, 0, 255) 0%, rgb(183, 0, 255) 5%);
}

.nine {
    background: linear-gradient(45deg, #607d8b, transparent), repeating-linear-gradient( 45deg, #9c27b0 0%, #9c27b0 5%, transparent 5%, transparent 10%), rgb(216, 188, 255) repeating-linear-gradient( -45deg, #9c27b0 0%, #9c27b0 5%, transparent 5%, transparent 10%);
}