.peffet_trans_one {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    z-index: -200000;
    background: #000;
    pointer-events: none;
    transition: 0.5s ease-in-out;
    opacity: 0;
    height: 100vh;
    overflow: hidden;
}

.peffet_trans_one.is_active {
    opacity: 1;
    pointer-events: all;
    z-index: 11111111111111;
}

.peffet_trans_two {
    position: fixed;
    /* left: -100%; */
    left: 0;
    bottom: 0;
    top: 0;
    z-index: -20;
    transition: 0.5s ease-in-out;
    width: 100%;
    overflow: hidden;
    opacity: 0;
}

.peffet_trans_two.is_active {
    opacity: 1;
    z-index: 11111111111111;
}

.bx_t {
    width: 100vw;
    height: 100vh;
    background: var(--main_bg);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader_span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60vw;
    width: 60vw;
    z-index: 1;
}

.ring_loader {
    width: 50vw;
    height: 50vw;
    position: relative;
    border: 10px dotted limegreen;
    border-radius: 50%;
    animation: ring 2s linear infinite;
    z-index: 2;
}

.ring_loader .ring_bx {
    width: 1.1em;
    height: 1.1em;
    background: lawngreen;
    border-radius: 50%;
    display: none;
}

.ring_loader .ring_bx:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
}

.ring_loader .ring_bx:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
}

.ring_loader .ring_bx:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
}

.ring_loader .ring_bx:nth-child(4) {
    position: absolute;
    bottom: 0;
    right: 0;
}

@keyframes ring {
    0% {
        transform: rotate(0deg);
        /* box-shadow: 1px 5px 2px #e65c00; */
    }
    50% {
        transform: rotate(180deg);
        /* box-shadow: 1px 5px 2px #18b201; */
    }
    100% {
        transform: rotate(360deg);
        /* box-shadow: 1px 5px 2px #0456c8; */
    }
}

@keyframes color {
    0% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(180deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}